.page {
  margin: 0 auto;
  max-width: 1280px;
  background-color: hsl(216, 6%, 17%);
  font-family: 'Inter', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
