.lead {
  max-width: 1380px;
  padding-top: 52px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1140px) {
  .lead {
    padding-top: 48px;
  }
}
