.lang-list__link {
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.16;
  font-style: normal;
}

.lang-list__link:hover {
  opacity: .8;
  transition: 1s;
}


@media screen and (max-width: 640px) {
  .lang-list__link {
    font-size: 18px;
    line-height: 1.1;
  }
}
