.cover__overlay {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, .3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}


.cover__overlay:hover {
  background-color:rgba(42, 44, 47, .8);
  transition: 1s;
}
