.place {
  margin: 0 auto;
  padding-bottom: 80px;
  color: white;
  display: grid;
  grid-template-columns: fit-content(460px) minmax(-webkit-min-content, 484px);
  grid-template-columns: fit-content(460px) minmax(min-content, 484px);
  grid-template-rows: repeat(2, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-gap: 48px 40px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1140px) {
  .place {
    grid-gap: 48px 30px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    padding-bottom: 73px;
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 640px) {
  .place {
    grid-template-columns: 288px;
    padding-bottom: 64px;
    grid-gap: 32px;
  }
}
