.place__url-heading {
  margin:0 0 12px 0;
  color: #aaa;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@media screen and (max-width: 640px) {
  .place__url-heading {
    line-height: 1;
  }
}
