.cover__item {
  min-height: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1140px) {
  .cover__item {
    min-height: 640px;
  }
}

@media screen and (max-width: 984px) {
  .cover__item {
    min-height: 480px;
  }
}

@media screen and (max-width: 640px) {
  .cover__item {
    min-height: 200px;
  }
}
