.cover__item {
  min-height: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

.cover__item::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: .3;
}

.cover__item:hover::before {
  opacity: .8;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 1140px) {
  .cover__item {
    min-height: 640px;
  }
}

@media screen and (max-width: 984px) {
  .cover__item {
    min-height: 480px;
  }
}

@media screen and (max-width: 640px) {
  .cover__item {
    min-height: 200px;
  }
}
